.container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: fit-content;
  align-items: center;
}

.item {
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.text {
  background-color: brown;
}